/*body{
    text-align: center;
    font-family: "Arial", "Meiryo", sans-serif;
    font-weight: 20px;
}*/

h1{
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-bottom: 3px solid rgb(115, 115, 114);
}

body{
    text-align: center;
    font-family: "Arial", "Meiryo", sans-serif;
    font-weight: 20px;
}

.blue{
    color:skyblue
}

.pink{
    color: rgb(255, 192, 203)
}

#basic p{
  font-weight: bold;  
}


